html,body{
	height: 100%;
	min-height: 100%;	
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:21px;
	color:#535353;
	background-color: #ffffff;
}
a, a:hover, a i, a:hover i{
	text-decoration: none;
	-webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
   -ms-transition: all 0.5s;
   transition: all 0.5s;
	
}

a img, a:hover img{
	-webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   -ms-transition: opacity 0.5s;
   transition: opacity 0.5s;
}

.padding-fix{
	padding:0 40px;
}

#develop{
    background: #000;
    color: #fff;
    font-size: 12px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 5px;
    max-width: 100%;
    opacity: .5;
    line-height: 1;
  }

/*STICKY FOOTER TRICK*/
#wrapper{
	min-height: 100%;
	padding-bottom:351px;
	display: block;
	width: 100%;
}
.wrapper{
	padding:0;
	width:100%;
	max-width:1020px;
	margin:0 auto;
}
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/*COMMON*/
img, iframe{
	max-width:100%;
}
a:hover img{
	opacity:0.8;
}

.home-hr{
	 height: 5px; 
	 border: 0; 
	 padding:0;
	 margin:0;
	 border-top:1px solid #d1d1d1;
	 box-shadow: inset 0 4px 4px -4px #666666;
}
.block-hr{
	width:70%;
	height:0;
	margin:0 auto;
	border-top:1px solid #e9e9e9;
}
.block-seperator{
	height:100px;
	clear:both;
}
.videohr{
	margin:0 0 45px;
	border: 0; 
	height: 2px; 
	background: #dddddd; 
	background-image: -webkit-linear-gradient(left, #eeeeee, #dddddd, #eeeeee); 
	background-image: -moz-linear-gradient(left, #eeeeee, #dddddd, #eeeeee); 
	background-image: -ms-linear-gradient(left, #eeeeee, #dddddd, #eeeeee); 
	background-image: -o-linear-gradient(left, #eeeeee, #dddddd, #eeeeee); 
}

.hero{
	overflow:hidden;
	clear: both;
	position:relative;
}
.fix-readmore-height{
	height:42px;
}

.video-list, .video-list li{
	margin:0;
	padding:0;
	list-style:none;
}
.video-list{
	margin-top:50px;
	width:100%;
	float:left;
	clear:both;
}
.video-list li{
	width:100%;
	float:left;
}
.video-list li a, .video-list li i{
	font-size:22px;
	line-height:32px;
	color:#282828;
}
.video-list li i{
	float:right;
}
.video-list li a.active {
	color:#8cc63f;
}

.it-present{
	background-color:#f3f3f2;
	font-size:18px;	
	color:#00853f;
	line-height:24px;
	padding:60px 100px;
	margin-top:70px;
}
.it-present h3{
	margin-top:0;
	font-size:30px;	
	font-weight:bold;
}
.it-present p{
}

.fix-fixed-height{
	height:auto !important;
}
.startread{
	width:100%;
	height:300px;
	margin:0 !important;
	padding:0 !important;
}
li.startread{
	list-style-type:none !important;
}
.sticky-padding{
	padding-top:90px;
}

/*HEADER*/
#header{
	height:64px;
	margin-bottom:0;
	background-color:#ffffff;
}
a object{
	display:block;
	cursor: pointer;
	padding:0;
	margin:0;
}
.header-container{
	padding-top:17px;
	padding-bottom:17px;
}
#header-right .social-icon{
	text-align:right;
}
.social-icon span{
	color:#a7a9ac;
	font-size:12px;
}
.social-icon a:hover span{
	color:#8cc63f;
}
/*MAIN NAV*/
#header-right{
	padding-right:0;
}
#mainnav, #mainnav ul{
	list-style:none;
	padding-left:0;
	line-height:22px;
}
#mainnav li{
	list-style:none;
	float:left;
	position:relative;
}
#mainnav li.social-icon{
	float:right;
}
#mainnav a{
	color:#9a9b9d;
	font-size: 14px;
	padding-left:20px;
	text-decoration:none;
}
#mainnav a:hover, #mainnav a:focus, #mainnav a:active{
	text-decoration:none;
}
#mainnav li.social-icon{
	float:right;
	
}
#mainnav .social-icon a{
	padding-left: 0px;
}
#mainnav a:hover, #mainnav a.active{
	color:#77b800;
}
#mainnav li:hover ul.globalnav,#mainnav li:hover .arrow-bottom{
	display:inline-block;
}
#globalnav-container{
	padding-bottom:24px;
}
#mainnav ul.globalnav{
	width:200px;
	position:absolute;
	top:36px;
	left:10px;	
	z-index:1031;
	display:block;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	padding:0 15px;
	color:#505050;
	display:none;
}
.arrow-bottom{
	width: 0px;
	height: 0px;
	position:relative;
	top:23px;
	left:-50px;
	background: #ffffff; 
	z-index:999999;
	display:none;
}

.arrow-bottom:after, .arrow-bottom:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-bottom:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
.arrow-bottom:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color:#cccccc;
	border-width: 16px;
	margin-left: -16px;
}
#mainnav ul.globalnav li li:first-child{
	padding-bottom:5px;
	font-size:13px;
}
#mainnav ul.globalnav li li:first-child a{
	font-weight:bold;
	color:#505050;
}
#mainnav ul.globalnav>li{
	padding-bottom:20px;
	padding-top:15px;
	border-bottom:1px solid #a5a5a5;
}
#mainnav ul.globalnav li li a{
	padding-left:0;
}
#mainnav ul.globalnav>li:last-child{
	border-bottom:0;
}
#mainnav ul.globalnav>li+li{
	border-bottom:0;
}
#mainnav ul.globalnav li ul{
	float:left;
}
#mainnav ul.globalnav li a{
	font-weight:400;
}

/*MOBILE NAV*/

.mobile-global-nav{
	position:relative;
	float:right;
	margin-top:-64px;
}
#mobilenav-button{
	background-color:#9f9f9f;
	width:64px;
	height:64px;
	padding:15px;
	cursor: pointer;
	margin-right:-1px;
	display:block;
	position:relative;
	z-index:999999;
}
#mobilenav-button:active, #mobilenav-button:focus,#mobilenav-button:hover{
	outline:none;
}
#mobilenav-button .icon-bar{
	background-color:#ffffff;
	width:100%;
	height:3px;
	display:block;
}
#mobilenav-button .icon-bar+.icon-bar{
	margin-top:8px;
}
#mobilenav{
	position:absolute;
	right:-200px !important;
	width:200px;
	background-color:#9f9f9f;
	list-style:none;
	padding:25px;
	color:#e9e9e9;
	font-size:16px;
	display:none;
	z-index:999999;
}
#mobilenav>li{
	padding-bottom:20px;
	padding-top:15px;
	border-bottom:1px solid #e9e9e9;
}
#mobilenav>li:first-child{
	padding-bottom:0px;
	padding-top:0px;
}
#mobilenav>li:last-child{
	border-bottom:0;
	padding-bottom:0;
}
#mobilenav ul, #mobilenav li{	
	list-style:none;
}
#mobilenav ul{
	margin:0;
	padding:0;
}
#mobilenav a{
	color:#e8e8e8;
	line-height:22px;
}
#mobilenav a:hover, #mobilenav a.active{
	color:#77b800;
}
#mobilenav li ul li:first-child{
	font-weight:bold;
	color:#f9f9f9;
}
#mobilenav li ul li:first-child{
	padding-bottom:13px;
}
#mobilenav .social-icon span{
	color:#dcdcdc;
	font-size:12px;
}
#mobilenav .social-icon span .fa-stack-1x{
	color:#9f9f9f;
}
#mobilenav .social-icon a:hover span{
	color:#77b800;
}


/*STICKY NAV*/

.sticky-nav{
	height:70px;
	background-color:#8cc63e;
	z-index:999999;
	text-align:center;
	width:100%;
}
.sticky-nav a, .sticky-nav a:hover, .sticky-nav a:focus, .sticky-nav a:active{
	text-decoration: none;
}
.sticky-nav .padding-fix{
	position:relative;
}
.sticky-nav .nav-logo{
	float:left;
	margin-top:20px;
}
.fix-center{
	width:141px;
	float:right;
	font-size:16px;
	line-height:30px;
	margin-top:20px;
	color:#ffffff;
	font-weight:bold;
	text-align:right;
	border-left:1px solid #00853f;
}
.fix-center a{
	font-size:16px;
	line-height:30px;
	color:#ffffff;
	font-weight:bold;
	padding:0 !important;
	margin:0 !important;
}
.sticky-call{
	position:absolute;
	right:0;
	top:70px;
	background:#ffa02f;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	padding:8px;
	border-radius:7px;
}
.sticky-nav ul{
	list-style:none;
	display:inline-block;
	margin:0;
	padding:0;
}
.sticky-nav li{
	list-style:none;
	margin:0;
	padding:20px 0 0;
	display:inline-block;
	font-size:16px;
	line-height:30px;
	color:#ffffff;
}
.sticky-nav a{
	color:#ffffff;
	padding-right:30px;
	font-weight:bold;
}
.sticky-nav .multi a{
	padding-right:15px;
}
.sticky-nav ul li:last-child a{
	padding-right:0;
}
.sticky-nav li.current{
	position:relative;
}
.sticky-nav li.current a{
	color:#00853f;
	position:relative;
}
.sticky-nav li.current a:after{
	position:absolute;
	top:44px;
	left:35%;
    content:"";
    width:0;
    height:0;
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-top:12px solid #8cc63f;
}
.sticky-nav li.current a.short:after{
	left:15%;
}

/*MOBILE STICKY NAV*/
.mobile-sticky-nav{
	float:right;
}
.fix-position{
	position:relative !important;
}
.sidr-position{
	position:absolute !important;
	right:-260px !important;
}
.static-position{
	position:static !important;
	display:none !important;
}
.button-position-closed{
	position:fixed;
	right:0 !important;
	top:0;
}
.button-position-open{
	position:fixed;
	right:260px !important;
	top:0;
}
#mobile-sticky-nav-button{
	background-color:#9f9f9f;
	border-radius:0;
	width:64px;
	height:64px;
	padding:15px;
	display:block;
	float:right;
	
	-webkit-transition: all .2s ease-in;
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -ms-transition: all .2s ease-in;
   transition: all .2s ease-in;
}
#mobile-sticky-nav-button:active, #mobile-sticky-nav-button:focus,#mobile-sticky-nav-button:hover{
	outline:none;
}
#mobile-sticky-nav-button .icon-bar{
	background-color:#f9f9f9;
	width:100%;
	height:3px;
	display:block;
}
.mobile-sticky-nav .icon-bar+.icon-bar{
	margin-top:8px;
}
#mobile-sticky-nav{
	position:fixed;
	width:260px;
	right:-260px;
	top:0 !important;
	background-color:#9f9f9f;
	list-style:none;
	color:#e9e9e9;
	font-size:16px;
	z-index:999999;
	-webkit-overflow-scrolling:touch;
	overflow: hidden;
}
#mobile-sticky-nav li{
	float:left;
	clear:both;
	display:inline;
	padding:15px 25px 0;
	line-height:20px;
}
#mobile-sticky-nav li:last-child{
	padding-bottom:20px;
}
#mobile-sticky-nav li a{
	padding-right:0;
}


/*HOME*/

#home .hero{
	height:426px;
	background:url("../images/hero-bg-opt.png");
}
#home .hero-left{
	height:426px;
	margin-left:-130px;
	padding-left:130px;
	background-image:url("../images/white-cloud.png");
	background-image:url("../images/cloud.svg");
	background-repeat:no-repeat;
	background-position: 0 -44px;
	z-index:7;
	position:relative;
}
#home .hero-container{
	position:relative;
}
#home .hero-left-content{
	margin-top:90px;
}
#home .hero-right{
	position:absolute;
	top:0;
	right:0;
	overflow: visible;
	width: 100%;
}
#home .hero-right img.icon{
	position:absolute;
	top:1px;
	right:-45px;
	z-index:5;
}
#home .hero-right .small-cloud{
	position:absolute;
	top:266px;
	right:-320px;
	z-index:6;
}
.selector-link{
	padding:30px 0;
	background:#ffffff;
}
.business-selector,.it-selector,.biz-selector{
	width:380px;
	height:187px;
	font-size:18px;
	line-height:30px;
	color:#ffffff;
	text-align:left;
	background-repeat:no-repeat;
	background-size:contain;
}
.business-selector h3 ,.it-selector h3,.biz-selector h3{
	font-weight:bold;
	font-size:26px;
	line-height:30px;
	padding-left:30px;
	margin:0;	
}
.business-selector p,.it-selector p,.biz-selector p{
	padding-left:30px;
	padding-top:20px;
	margin-bottom:0;
}
.business-selector p.button-holder,.biz-selector p.button-holder{
	padding-top:18px;
}
.it-selector p.button-holder{
	padding-top:46px;
}
.business-selector span,.it-selector span,.biz-selector span{
	display:block;
	height:45px;
	width:132px;
	background-image:url("../images/find-out-more.png");
}
.business-selector{
	background-image:url("../images/business-selector.jpg");
	float:right;
}
.it-selector{
	background-image:url("../images/it-selector.jpg");
}
.biz-selector{
	background:url("../images/biz-selector.jpg") no-repeat;	
}
.video{
	padding-top:25px;
	background-color:#eeeeed;
}
.video iframe{
  border: 0;
}
.video-container{
	padding-bottom:50px;
}
.video-left{
}
.video-right{
}
.video-right h3{
	font-size:35px;
	line-height:36px;
	color:#282828;
	font-weight:normal;
	padding-top:40px;
	margin-top:0;
}
#bdata .video-right h3{
	padding-top:20px;
}
.child-video{
	text-align:center;
	width:780px;
	max-width:100%;
	margin:0 auto;
}
.child-video .video-container{
	min-height:125px;
	padding:0 10px;
	text-align:center;
	display:inline-block;
}
.child-video .video-container p{
	padding:15px;
	color:#7c7c7c;
}

/* BUSINESS */

#business .hero{
	height:363px;
	background-color:#bed3d4;
}
#business .hero-left{
	height:363px;
	margin-left:-185px;
	padding-left:185px;
	background-image:url("../images/white-cloud.svg");
	background-repeat:no-repeat;
	background-position: 0 -10px;
}
#business .hero-container{
	position:relative;
}
#business .hero-right img.people{
	position:absolute;
	top:0;
	right:-70px;
	z-index:6;
}
#business .hero-right img.icon{
	position:absolute;
	top:0;
	right:110px;
	z-index:5;
}


#business-apps .hero{
	height:363px;
	background-color:#d5e9f2;
}


#business-apps .hero-left{
	height:363px;
	margin-left:-112px;
	padding-left:112px;
	background-image:url("../images/apps-cloud.svg");
	background-repeat:no-repeat;
	background-position: 0 -126px;
}
#business-apps .hero-container{
	position:relative;
}
#business-apps .hero-right img.icon{
	position:absolute;
	top:43px;
	right:-102px;
	z-index:5;
}


.hero-left-content{
	margin-top:45px;
	padding-left:70px;
	
}
.hero-left-content .call{
	max-width:246px;
	font-size:23px;
	color:#ffffff;
	padding:10px 25px;
	background-color:#ffa02f;
	font-weight:bold;
}
.hero-left-content .call a{
	font-size:23px;
	color:#ffffff;
	font-weight:bold;
}
.hero-left-content .headline{
	font-size:36px;
	line-height:40px;
	color:#727272;
	font-weight:300;
}
.hero-left-content .offer a{
	font-size:28px;
	line-height:37px;
	color:#00853f;
	font-weight:bold;
}
.mobile-hero-content{
	margin-top:15px;
}
.mobile-hero-content .headline{
	font-size:28px;
	line-height:32px;
	color:#727272;
	font-weight:300;	
}
.mobile-hero-content .offer a{
	font-size:18px;
	line-height:22px;
	font-weight:bold;
	color:#00853f;
}
.mobile-hero-content .call{
	max-width:200px;
	font-size:18px;
	color:#ffffff;
	padding:10px 25px;
	background-color:#ffa02f;
	font-weight:bold;
}
.mobile-hero-content .call a{
	font-size:18px;
	color:#ffffff;
	font-weight:bold;
}
.why-ctl{
	background:#ffffff;
	padding-top:80px;
	text-align:center;
	padding-bottom:125px;
	border-bottom:1px solid #c5c5c5;
}
.why-ctl-content{
	font-size:18px;
	line-height:30px;
	
}
.why-ctl-content strong a{
	color:#535353;
}
.why-ctl .box{
	width:340px;
	margin:50px auto 0;
	padding:10px 20px;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
}
.why-ctl .box h3{
	margin-top:0;
}
.why-ctl .box h3 a{
	font-size:17px;
	line-height:20px;
	font-weight:bold;
	color:#000000;
}
.why-ctl .box .call, .why-ctl .box .call a{
	font-size:17px;
	color:#00853f;
	font-weight:bold;
}
.copy-block .block-link a{	
	font-size:16px;
	line-height:36px;
	font-weight:bold;
}
.copy-block  h3.block-title{
	font-size:35px;
	line-height:36px;
	color:#282828;
	margin-bottom:25px;
}
.copy-block  .block-more{
	color:#646464;
	line-height:20px;	
}
.copy-block  .block-more a{
	text-decoration: underline;
	font-weight:bold;
}
.testimonial{
	padding-top:70px;
	padding-left:70px;
	padding-bottom:50px;
}
.testimonial img{
	padding-left:70px;
	float:left;
}
.testimonial .first{
	font-weight:bold;
	padding-top:30px;
	padding-bottom:10px;
	font-size:12px;
	line-height:14px;
	color:#000000;
}
.testimonial .last{
	font-size:12px;
	line-height:14px;
	font-style: italic;
}
.block-seperator{
	clear:both;
	height:80px;
}

/*business DATABACKUP*/
#business-db .hero{
	height:363px;
	background-color:#d5e9f2;
}
#business-db .hero-left{
	height:363px;
	margin-left:-112px;
	padding-left:112px;
	background-image:url("../images/apps-cloud.svg");
	background-repeat:no-repeat;
	background-position: 0 -126px;
}
#business-db .hero-container{
	position:relative;
}
#business-db .hero-right img.icon{
	position:absolute;
	top:16px;
	right:-60px;
	z-index:5;
}
#business-db .why-ctl-content{
	font-size:18px;
	line-height:30px;
	color:#535353;
}
.block-images img{
	padding-right:10px;
}

#business-db .copy-block .block-content{
	color:#535353;
}

.onboard3col div{
	text-align:center;
}
.onboard-title{
	font-weight:bold;
	text-align:center;
	padding:20px 0 10px;
}
.onboard3col .onboard-content{
	text-align:left;
	font-size:14px;
}

.onboard3col .plus,.onboard3col .minus,.secure-detail .plus, .secure-detail .minus{
	border: 1px solid #a3a2a2;
	width:42px;
	height:42px;
	background-color:#f6f4f4;
	padding:8px;
	margin:20px auto;
	text-align:center;
}
.plus, .minus{
	text-align:center !important;
}
.onboard3col .plus i,.onboard3col .minus i, .secure-detail .plus i, .secure-detail .minus i{
	font-size:26px;
	color:#a3a2a2;
}

.cost{
	text-align:center;
}
.cost-title{
	float:left;
	clear:both;
	width:100%;
	text-align:center;
	padding-bottom:50px;
}
.cost-title h3{
	text-align:center;
	color:#084762;
	font-size:20px;
	line-height:26px;
	display:inline-block;
	padding:0 10px;
	position:relative;
	top:30px;
}
.cost-title span{
	display:inline-block !important;
	width:140px;
	height:0;
	border:2px solid #ccebf5;
}
#it-db .cost-title h3{
	top:28px;
}
#it-db .cost-title span{
	border:4px solid #ffffff;
}
.cost-content{
	width:100%;
	text-align:center;
}
.cost-content div.cost-circle{
	text-align:center;
	position:relative;
}
.cost-content .top{
	font-size:90px;
	line-height:39px;
	font-weight:bold;
	color:#000000;
	width:180px;
	border-bottom:2px solid #000000;
	position:absolute;
	top:80px;
	left:80px;
}
.cost-content .top .sub{
	font-size:38px;
}
.cost-content .bot{
	line-height:39px;
	font-size:30px;
	color:#282828;
	width:180px;
	position:absolute;
	top:140px;
	left:80px;
}
.cost-content .bot sup{
	font-size:18px;
}

.cost-content .mid .top,.cost-content .mid .bot{
	left:65px;
}

.cost-content .last .top,.cost-content .last .bot{
	width:210px;
	left:30px;
}

.cost-more{
	text-align:center;
	font-size:20px;
	color:#00853f;
	margin-top:50px;
	line-height:36px;
}
.cost-more strong{
	text-align:center;
	font-size:24px;
	font-weight:bold;
	color:#00853f;
	padding-top:16px;
}
/*IT LEADER*/

#it .hero{
	height:363px;
	background-color:#c8cebd;
}
#it .hero-left{
	height:363px;
	margin-left:-123px;
	padding-left:123px;
	background-image:url("../images/white-cloud.svg");
	background-repeat:no-repeat;
	background-position: 0 -90px;
}
#it .hero-container{
	position:relative;
}
#it .hero-right img.people{
	position:absolute;
	top:0;
	right:-7px;
	z-index:5;
}
#it .hero-right img.icon{
	position:absolute;
	top:16px;
	right:-200px;
	z-index:6;
}
#it .hero-right img.icon1{
	position:absolute;
	top:163px;
	right:185px;
	z-index:4;
}
#it .hero-right img.icon2{
	position:absolute;
	top:222px;
	right:322px;
	z-index:3;
}

#ihosted .copy-block .block-link a{
	color:#00853f;
}

#ihosted .copy-block .block-more{
	font-weight:bold;
	color:#000000;
}

#ihosted .copy-block .block-more a{
	color:#8cc63f;
}
#ihosted .copy-block .testimonial .first, #ihosted .copy-block .testimonial .last{
	color:#00853f;
}
.logo{
	margin-top:20px;
	padding:20px;
	text-align:center !important;
}
.logo img{
	margin:0 auto;
}
.logo-block{
	border-right:1px solid #b0b0b0;
	padding-right:0;
}
.logo .logo-block:last-child{
	border-right:0;
	padding-right:15px;
}
.logo-block p{
	font-weight:bold;
	color:#626262;
}
.logo-block img{
	padding:0 5px;
}
#ihosted .sreadmore ul{
	padding-top:15px;
}

.center{
	text-align:center !important;
}

/*I HOSTED*/
#it-apps .hero{
	height:363px;
	background-color:#d0eabd;
}


#it-apps .hero-left{
	height:363px;
	margin-left:-160px;
	padding-left:160px;
	background-image:url("../images/white-cloud.svg");
	background-repeat:no-repeat;
	background-position: 0 -96px;
}
#it-apps .hero-container{
	position:relative;
}
#it-apps .hero-right img.icon{
	position:absolute;
	top:52px;
	right:-96px;
	z-index:5;
}
.ihosted-why-ctl{
	text-align:left;
	
}
.ihosted-why-ctl h3{
	font-size:16px;
	line-height:18px;
	font-weight:bold;
}
.ihosted-why-ctl ul ,li{
	list-style:disc;
	margin:0;
	padding:0;
	font-size:14px;
	line-height:18px;
}
.ihosted-why-ctl li{
	margin-bottom:10px;
}
#it-apps .why-ctl{
	padding-bottom:0;
	border-bottom:0;	
}
.ihosted .onboard-title{
	text-align:left;
}
.ihosted .onboard3col div{
	text-align:left;
}
.ihosted .onboard-content ul{
	margin:0;
	padding:0;
}
.ihosted .onboard-content li{
	list-style-type:disc;
	margin-left:15px;
	margin-bottom:12px;
}
.ihosted3col h3{
	font-size:18px;
	line-height:21px;
	font-weight:bold;
	margin-bottom:30px;
	margin-top:-60px !important;
}
.ihosted3col ul{
	margin:0;
	padding:0px;
}
.ihosted3col li, .block-content li{
	padding-bottom:10px;
	list-style-type:disc;
	margin-left:20px;
}
.ihosted3col li.last{
	list-style-type:none;
	text-align:right;
}
.ihosted3col li .nowrap{
	white-space: nowrap;
}
.ihosted3col a,.block-content li a,.block-content a.istyle{
	font-weight:bold;
	color:#8cc63f;
	text-decoration:underline;
}
.block-content h3{
	font-size:18px;
	line-height:21px;
	font-weight:bold;
}
.block-content ul{
	margin:0 ;
	padding:0;
}
.child-image{
	padding-top:20px;
	text-align:center;
}

#graph{
	background-image:url("../images/graph-bg.png");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	padding:100px 0 50px;
	margin-top:50px;
}
#graph h3{
	font-size:32px;
	line-height:36px;
	margin:0 0 20px;
	
}
#graph .excerpt{
	
}

/*IT LEADER DB*/


#it-db .hero{
	height:363px;
	background-color:#dcedc4;
}
#it-db .hero-left{
	height:363px;
	margin-left:-112px;
	padding-left:112px;
	background-image:url("../images/apps-cloud.svg");
	background-repeat:no-repeat;
	background-position: 0 -126px;
}
#it-db .hero-container{
	position:relative;
}

#it-db .hero-right img.icon{
	position:absolute;
	top:70px;
	right:-37px;
	z-index:5;
}


.secure-title{
	font-size:35px;
	line-height:40px;
	color:#282828;
	padding-bottom:20px;
}
.secure-content{
	font-size:14px;
	line-height:21px;
	color:#535353;
}

.secure-image{
	margin-top:65px;
	height:241px;
	background-image:url("../images/fpo8_2x.png");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
}
.secure-detail{
	text-align:center;
	color:#0d0d0d;	
	padding-bottom:50px;
}
.secure-detail h3{
	margin-top:10px;
	font-size:20px;
	line-height:20px;
}
.secure-detail h3 i{
	font-style: italic;
}
.secure-detail h3 span{
	font-size:26px;
	line-height:30px;
}
.secure-detail .first{
	margin-top:-20px;
}
.secure-detail .sreadmore ul, .readmore ul{
	padding-left:20px;
}
 .readmore ul{
	 margin-top:20px;
 }
 .i-readmore-fix2{
 	/*height:237px;*/
 }
  .i-readmore-fix1{
 	/*height:279px;*/
 }
.sreadmore p{
	min-height:42px;
	text-align:left;
}
.sreadmore div{
	/*min-height:343px;*/
}

.secure-detail .sreadmore li, .readmore li{
	list-style-type:disc;
	text-align:left;
	padding-bottom:10px;
}

.pricing{
	background-color: #f7f5e9;
	background-image:url("../images/price-bg.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position: top right;
	padding-bottom:60px;
}

.pricing .block-title{
	margin-top:0;
}

.easy{
	padding-bottom:30px;
}

.easy-icon i{
	font-size:70px;
	color:#8dc63f;	
}
h3.easy-title{
	font-size:20px;
	color:#282828;
	font-weight:bold;
}
.easy-content{
	font-size:14px;
	color:#282828;
}

/*FOOTER*/

.footer{
	position: relative;
	background:url("../images/footer-seperator-opt.jpg") top repeat-x;
	height:351px;
	margin-top: -351px;
	background-color:#fbfbfb;
}
.footer-sep{
  background:url("../images/footer-seperator-r.jpg") top right no-repeat;
  height: 100%;
}
.footer-content{
	padding-top:69px;
	clear:both;
	padding-bottom:50px;
}
.footer h3, .footer h3 a{
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	margin-top:0;
	text-decoration: none;
}
.footer p {
	margin-bottom:6px;
	color:#505050;
	font-size:12px;
	line-height:16px;
}
.footer a{
	color:#505050;
	font-size:12px;
	line-height:16px;
}
.footer a:hover{
	color:#77b800;
}
.very-footer{
	font-size:10px;
	line-height:14px;
	color:#505050;
	padding-top:36px;
}

/*FIX ALL*/
.new-business p{
	margin-top:15px;
}
.new-business a{
	color:#8cc63f;
	text-decoration:underline;
	font-weight:bold;
}
.new-fix-height1{
	height:21px;
}
.new-fix-height2{
	height:6px;
}
.new-fix-height3{
	height:43px;
}
.new-fix-height4{
	height:63px;
}
/*SCROLLUP*/
#scrollUp{
  bottom: 20px;
  right: 10px;
  width: 29px; /* Width of image */
  height: 60px; /* Height of image */
  display:none;
  background: url(../images/totop.png) no-repeat;
}

/*RESPONSIVE*/

@media screen and (max-width:1200px){
	.hero-container{
	}	
}

@media screen and (max-width:992px){
	/*STICKY NAV*/

	.sticky-nav ul.multi{
		float:left;
		padding:10px 0;
		width:70%;
		padding-left:10%;
	}
	.sticky-nav ul.multi li{
		float:left;
		display:inline;
		line-height:25px;
		padding:0;
		margin:0;
	}
	.sticky-nav ul.multi li:nth-child(3n){
		clear:left;	
	}
	.fix-center{
		display:none;
	}
	.padding-fix{
		padding: 0 30px;
	}
	.testimonial{
		min-width:688px;
	}
	.sreadmore p{
		min-height:63px;
	}
	.sreadmore div{
		min-height:406px;
	}
	.footer-content{
		padding-top:35px;
	}
	.video-right h3{
		padding-top:0;
	}
	.child-video, .child-video .video-container{
		text-align:left;
	} 
	.child-video .video-container p{
		padding:0 0 15px;
	}
	.easy-icon i{
		font-size:60px;
	}
	.video-right h3{
		padding-top:0;
	}
	
	/*HERO*/
	#home .hero-left{
		margin-left:-230px;
		padding-left:230px;
		background-repeat:no-repeat;
		position:relative;
	}
	.hero-left-content{
		padding-left:60px;	
	}
	.sticky-nav li.current a:after{
	    border:0;
	}
			
	#business-apps .hero-right img.icon{
		right:-302px;
	}

	#business-db .hero-right img.icon{
		right:-244px;
	}
	
	#it .hero-right img.people{
		right:-57px;
	}
	#it .hero-right img.icon, #it .hero-right img.icon1, #it .hero-right img.icon2{
		display:none;
	}
	
	#it-apps .hero-right img.icon{
		right:-275px;
	}

	#it-db .hero-right img.icon{
		right:-237px;
	}
	.it-present{
		padding:40px 20px;
	}
	.ihosted3col h3{
		margin-top: 0 !important;
	}
	
}

@media screen and (min-width: 768px){
	.fivecolumns .col-sm-2{
		width: 20%;
	}
}


@media screen and (max-width:767px){
	.padding-fix{
		padding: 0 20px;
	}
	.testimonial{
		min-width: 0;
		padding-top:30px;
		padding-bottom:30px;
		clear:both;
		float:left;
	}
	.testimonial img{
		padding-left:0;
	}
	.image-block{
		text-align:center;
		padding-top:30px;
	}
	.logo-block{
		border-right:0;
		padding-top:20px;
	}
	.secure-detail img{
		padding-top:50px;
	}
	.sreadmore p, .sreadmore div{
		min-height:0;
	}
	.onboard3col div{
		text-align:left;
	}
	.easy-content{
		padding-bottom:30px;
	}	
	.sticky-nav{
		height:0;
	}
	.mobile-sticky-call{
		background:#ffa02f;
		font-size:16px;
		font-weight:bold;
		color:#ffffff;
		padding:8px;
		border-radius:7px;
	}
	.sticky-nav ul.collapse{
		display:none;
	}
	.video-right h3{
		margin-top:40px;
	}
	
	.child-video, .child-video .video-container{
		text-align:left;
	} 
	.child-video .video-container p{
		padding:0 0 15px;
	}
	
	.business-selector{
		float:none;
		margin-bottom:20px;
	}
	
	/*HERO*/
	#home .hero-left{
		margin-left:-530px;
		padding-left:530px;
		background-repeat:no-repeat;
		position:relative;
		z-index:1;
	}
	.secure-detail img{
		display:inline-block !important;
	}
	
	.sreadmore p, .sreadmore div{
		min-height:0;
	}
	
	.video-right h3{
		padding-top:0;
	}
	
	.footer-content{
		padding-top:35px;
	}
	.footer .row div{
		padding-bottom:10px;
	}
	.sticky-nav li.current a:after{
	    border:0;
	}
	.business-selector,.it-selector,.biz-selector{
		max-width:100%;
		height:auto;
	}
	.it-present{
		padding:40px 20px;
	}
	.video-right{
		margin-bottom:40px;
	}
	.sticky-nav{
		height:auto !important;
		max-height: auto !important;
	}
	.sticky-nav .padding-fix, .sticky-nav li.current, .sticky-nav li.current a{
		position:static !important;
	}
	.sticky-nav li.current a:after{
	    border:0;
	}
	#sticky-nav{
		margin:0;
		padding:15px 0;
		text-align:left !important;
		width:100% !important;
	}
	#sticky-nav li{
		padding:0;
		float:none !important;
		display:inline-block !important;
	}
	#sticky-nav li a{
		padding:0 10px 0 0;
		font-size:13px;
	}
	#sticky-nav li:last-child a, #sticky-nav  li:nth-child(2n+2) a{
		padding-right:0 !important;
	}
	#sticky-nav  li a.has-padding{
		padding-right:10px !important;
	}
	.mobile-trick-padding{
		padding-top:20px;
	}
	.mobile-graph{
		width:280px;
		height:653px;
		margin:20px auto 0;
		background-image:url(../images/graph_mobile.png);
		background-position: top left;
		background-repeat: no-repeat;
		font-size:9px;
		line-height: 12px;
		color:#000000;
	} 
	.mobile-graph h4{
		font-size:11px;
		line-height: 14px;
		font-weight:bold;
		margin:0;
		padding:0;
	}
	.mobile-graph p{
		margin:0;
		padding:0;
	}
	.mobile-graph-top,.mobile-graph-join, .mobile-graph-mid, .mobile-graph-bot{
		position:relative;
		width:100%;
	}
	.mobile-graph-top{
		height:137px;
	}
	.mobile-graph-join{
		height:57px;
		margin-top:42px;
	}
	.mobile-graph-mid{
		height:260px;
		margin-top:10px;
	}
	.mobile-graph-bot{
		height:90px;
		width:200px;
		margin-top:35px;
		margin-left:40px;
		padding:15px 20px;
		font-size:12px;
		line-height: 14px;
		color:#131313;
	}
	.mobile-graph-bot h4{
		font-size:12px;
		line-height: 14px;
		padding-bottom:10px;
	}
	.mobile-graph-bot p{
	}
	.top-block{
		width:80px;
		height:135px;
		padding:15px 10px;
		position:absolute;
		top:0;
	}
	.top-block h4{
		font-size: 9.5px;
		line-height: 12px;
		padding-bottom:10px;
	}
	.top-block p{
		font-size: 8.31px;
		line-height: 11px;
	}
	.mobile-graph-top .first{
		left:0;
	}
	.mobile-graph-top .mid{
		left:93px;
	}
	.mobile-graph-top .last{
		left:186px;
	}
	.mobile-graph-join p{
		width:61px;
		height:57px;
		padding:15px 5px;
		position:absolute;
		top:0;
		left:103px;
		text-align:center;
		font-size:8px;
		line-height:10px;
		color:#131313;
	}
	.mid-block{
		position:absolute;
		line-height: 12.12px;
		text-align: center;
	}
	.mid-block h4{
		font-size: 10px;
		line-height: 12px;
		padding-bottom:10px;
		color:#ffffff;
		text-align: center;
	}
	.mid-block p{
		font-size: 9px;
		text-align: center;
	}
	.mobile-graph-mid .first{
		top:50px;
		left:40px;
		width:160px;
	}
	.mobile-graph-mid .mid{
		top:150px;
		left:30px;
		width:90px;
	}
	.mobile-graph-mid .last{
		top:130px;
		left:150px;
		width:105px;
	}

}
@media screen and (min-width:479px) and (max-width:767px){
	#sticky-nav  li:nth-child(2n+2) a{
		padding-right:10px !important;
	}
}