 Options +FollowSymLinks
  RewriteEngine on
  RewriteBase /hdwebsoft/demo/centurylink/
  RewriteRule ^index\.html$ index.php [T=application/x-httpd-php,L]
  RewriteRule ^bussiness\.html$ bussiness.php [T=application/x-httpd-php,L]
  RewriteRule ^bussiness-databackup\.html$ bussiness-databackup.php [T=application/x-httpd-php,L]
  RewriteRule ^itleader\.html$ it.php [T=application/x-httpd-php,L]
  RewriteRule ^itleader-databackup\.html$ itleader-databackup.php [T=application/x-httpd-php,L]